<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %></title>
    <link rel='stylesheet' href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <h1><%= user.username %></h1>
    <p>Welcome to <%= user.username %></p>
  </body>
</html>
