<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <style>
        body {
            padding: 20px;;
        }
    </style>
</head>
<body>
    <form method="post" action="/user/reg">
        <%
            if(errors && errors.password) {
          %>
        <div><label><%=errors.password%></label></div>
        <%
            }
          %>
        <div class="form-group">
            <label for="exampleInputEmail1">用户名称</label>
            <input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名称">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">用户密码</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入用户密码">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">确认密码</label>
            <input name="confirm" type="password" class="form-control" id="exampleInputPassword1" placeholder="请确认用户密码">
        </div>
        <button type="submit" class="btn btn-default">注册</button>
    </form>
</body>
</html>